<form action="{{ path_for('auth.signin') }}" method="POST">
    {{ errors | json_encode }}
    <input type="text" name="username" placeholder="Username" value="{{ oldInput.username }}">
    <input type="password" name="password" placeholder="Password">

    {{ csrf.field | raw }}
    <input type="submit">
</form>