{% extends 'app.twig' %}

{% block content %}
  <h1>Settings</h1>
  <hr>
  <h2>Password</h2>
  <form class="" action="index.html" method="post">
    <input type="password" name="password" placeholder="Old Password">
    <input type="password" name="newPassword" placeholder="New Password">
    <input type="submit" name="" value="Set new Password">
  </form>

  <hr>
  <h2>2FA Settings</h2>
{% endblock %}
